<h1> Jeju main branch Contact </h1>
<h2> Address: 6 dongsung-ro jeju-si, jeju<h2>
<h2> phone: 010-xxx-xxxx<h2>
<!-- <%= image_tag "address.png", alt: "address" ,style: 'height:50%;width:auto;' %> -->
<%=image_tag("address.png", height: '320', width: '640') %>
