<div class="center jumbotron">
  <h1>Welcome to the Smart meter App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.pncltd.co.kr/">Smart meter</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("pnc.png", alt: "Pnc logo", width: "200"),
                      "http://www.pncltd.co.kr/" %>

