<footer class="footer">
  <small>
    The Smart Meter App site is made by <a href="http://www.pncltd.com/">P&C Ltd</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://pncltd.co.kr">News</a></li>
    </ul>
  </nav>
</footer>
